<div class="container">

  <table class="tableClass">
    <tr class="customstyle1">
      <th>
        <div class="flexDisplay">
          <input type="text" [(ngModel)] = "search" placeholder="search box" />
          <button (click)="find()">search</button>
        </div>
      </th>
      <th class="floatRight">
        <button (click)="prev()">
          prev
        </button>
        |{{start+1}} - {{last}} of {{total}}|
        <button (click)="next()">
          next
        </button>
      </th>
    </tr>
    <tr class="tableData" *ngFor="let item of loadItems, let i= index">
      <td class="heightImage">
        <img class="setImage" [src]="item.image" />
      </td>
      <td>
        <span class="name">
          Beer Name: {{item.name}}
        </span>
        <br>
        <span class="style">
          Beer Style: {{item.style}}
        </span>
        <br>
        <span class="ounces">
          Available: {{item.ounces}} Ounces
        </span>
      </td>
    </tr>
  </table>
</div>